{% extends "layout.html" %}

{% block title %}
    Add recipe
{% endblock %}

{% block main %}
<body class="--bs-body-bg">
    <h1>Scrape a Recipe!</h1>
    <p>Paste your recipe link below and we will scrape it for you!</p>
    <form>
        <div class="mb-3">
            <input autofocus class="form-control mx-auto w-auto" name="recipe_url" placeholder="Recipe Link" type="url">
        </div>
        <button class="btn btn-primary" type="submit">Get Recipe</button>
    </form>
    <div>
    <!--  This will be a back up if I cannot get the scraper to work.
    </div>
    <form>
        <div class="mb-3">
            <p>OR copy and paste the ingredients and we will save this to your recipes</p>
            <input class="form-control mx-auto w-auto" name="recipe" placeholder="Copy and Paste Recipe" type="text">
        </div>
    </form>
-->
    
</body>
{% endblock %}